@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freehand&display=swap');

@font-face{
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue' , cursive;
    --font-android: 'Android' , cursive;
}


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-padrao);
}

img{
    width: 100%;
}

h2{
    font-weight: 100;
    border-radius: 5px;
    text-indent: 10px;
}
a.externo::after{
    content: '\1F517';
}

/*header*/
header{
    background-image: linear-gradient(to top, #0b331d, #1b5c37, #1ebe66);
    font-family: var(--font-destaque);
    text-align: center;
    color: white;
}
header > h1{
    padding:20px;
    font-weight: 100;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    font-weight: 100;
}
header > p{
    padding-bottom: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    font-family: Arial, Helvetica, sans-serif;
}
header > nav{
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
header > nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav > a:hover{
    background-color: #063119;
    padding: 5px 10px 0 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: underline;
}

/*main*/
main{
    text-align: justify;
    background-color: #2FA866;
}
main a{
    color: rgb(6, 63, 6); 
    text-decoration: none;
    background-color: #2fa86580;
    padding: 1px 6px;
    padding-right: 0px;
    border-radius: 5px;
}
main a:hover{
    text-decoration: underline;
    color:#1ebe66;
}
main > article{
    background-color: white;
    max-width: 850px;
    margin: auto;
    max-width: 650px;
}
#section1{
    padding: 20px;
}
#section1 > h2{
    padding-bottom: 30px;
    font-family: var(--font-android);
    text-align: center;
    color: #046404;
}
#section1 > p{
    text-indent: 25px;
}



#section2{
    padding: 0 20px;
}
#section2 > h2{
    margin-bottom: 15px;
    background-image: linear-gradient(to left, rgba(0, 128, 0, 0), rgba(0, 128, 0, 0.199), rgba(0, 128, 0, 0.473));
    font-family: var(--font-android);
}
#section2 > p{
    text-indent: 25px;
}
#section2 > picture > img{
    max-width: 610px;
    display: block;
    margin: auto;
}



#section3{
    padding: 0 20px;
}
#section3 > h2{
    margin: 15px;
    background-image: linear-gradient(to left, rgba(0, 128, 0, 0), rgba(0, 128, 0, 0.199), rgba(0, 128, 0, 0.473));
    font-family: var(--font-android);
}
#section3 > p{
    text-indent: 25px;
}
#section3 > img{
    display: block;
    margin: auto;
    width: 300px;
}
#section3 > picture > img{
    display:block;
    margin: auto;
    padding: 20px 0;
    max-width: 610px;
}
#section3 > div{
    margin: 20px -20px;
    background-color: #0a4423f6;
    height: 315px;
}
#section3 > div > iframe{
    max-width: 100%;
    margin: auto;
    display: block;
}

aside{
    text-align: justify;
    background-color: #91d3afa6;
    margin: 20px;
    border-radius: 10px;
}
aside a{
    color: #063119
}
aside > h4{
    background-color: #2FA866;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
aside > p{
    padding: 10px;
    text-indent: 25px;
}
aside > ul{
    padding-left: 10px;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}



#section5{
    padding: 0 20px 10px 20px;
    text-indent: 25px;
}


footer{
    background-color: black;
    color: lightgrey;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}
footer a{
    color: white;
    text-decoration: underline;
}
footer a:hover{
    background-color: rgba(128, 128, 128, 0.356);
    border-radius: 5px;
}

